# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
.env/

# Ignore Lambda build outputs
lambda_src/*/build/

# Ignore Terraform state and backup files
infrastructure/*.tfstate
infrastructure/*.tfstate.backup

# Ignore test outputs
lambda_src/*/test/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore Docker files (except Dockerfile itself)
docker-compose.yml
.dockerignore
